<!DOCTYPE html>
<html>
<head>
    <!-- Title -->
    <title>@ViewBag.Title</title>
    <!-- Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Favicon -->
    <link href="favicon.ico" rel="shortcut icon"/>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.css"/>
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.css"/>
    <link rel="stylesheet" href="~/assets/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/css/nexus.css" />
    <link rel="stylesheet" href="~/assets/css/responsive.css"/>
    <link rel="stylesheet" href="~/assets/css/custom.css"/>
    <!-- Google Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" type="text/css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="body-bg">
        <ul class="social-icons pull-right hidden-xs">
            <li class="social-rss">
                <a href="#" target="_blank" title="RSS"></a>
            </li>
            <li class="social-twitter">
                <a href="#" target="_blank" title="Twitter"></a>
            </li>
            <li class="social-facebook">
                <a href="https://fb.com/Hoandz123" target="_blank" title="Facebook"></a>
            </li>
            <li class="social-googleplus">
                <a href="#" target="_blank" title="GooglePlus"></a>
            </li>
        </ul>
        <div id="pre-header" class="container" style="height:340px">
        </div>
        <div id="header">
                <div class="row">

                    <!-- Logo -->
                    <div class="logo col-md-3">
                        <a href="@Url.Action("Index","Home")" title="Về trang chủ">
                            <img src="~/assets/img/logo.png" alt="Logo" />
                        </a>
                    </div>
                    <!-- End Logo -->
                    <div class="col-md-7 content">
                        @Html.Action("_Tour","Home")
                    </div>

                    <div class="col-md-2">
                        @Html.Partial("_LoginPartial")
                    </div>
                    
                </div>
        </div>
        <!-- Top Menu -->
        <div id="hornav" class="container no-padding">
            <div class="row">
                <div class="col-md-12 no-padding">
                    <div class="text-center visible-lg">
                        <ul id="hornavmenu" class="nav navbar-nav">
                            <li>
                                <a href="@Url.Action("Index","Home")" class="fa-home">Trang Chủ</a>
                            </li>
                           
                            <li>
                                <span class="fa-copy">TOUR</span>
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Index","Tour")">Tour của tôi</a>
                                    </li>
                                    <li>
                                        <a href="pages-services.html">Xem Tour</a>
                                    </li>
                                    <li>
                                        <a href="pages-faq.html">F.A.Q.</a>
                                    </li>
                                    <li>
                                        <a href="pages-about-me.html">About Me</a>
                                    </li>
                                    <li>
                                        <a href="pages-full-width.html">Full Width</a>
                                    </li>
                                    <li>
                                        <a href="pages-left-sidebar.html">Left Sidebar</a>
                                    </li>
                                    <li>
                                        <a href="pages-right-sidebar.html">Right Sidebar</a>
                                    </li>
                                    <li>
                                        <a href="pages-login.html">Login</a>
                                    </li>
                                    <li>
                                        <a href="pages-sign-up.html">Sign-Up</a>
                                    </li>
                                    <li>
                                        <a href="pages-404.html">404 Error Page</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="fa-th">Tin tức</span>
                                <ul>
                                    <li>
                                        <a href="portfolio-2-column.html">2 Column</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-3-column.html">3 Column</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-4-column.html">4 Column</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-6-column.html">6 Column</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="fa-font"><a href="#LienHe">Liên hệ</a></span>
                                <ul>
                                    <li>
                                        <a href="blog-list.html">Blog</a>
                                    </li>
                                    <li>
                                        <a href="blog-single.html">Tin tức</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#TroGiup" class="fa-comment">Hỏi đáp</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Top Menu -->

        <div id="content-top-border" class="container">
        </div>
        <!-- === END HEADER === -->
        <!-- === BEGIN CONTENT === -->
        <div id="content">
            <div class="container background-white">
                @RenderBody()
                </div>
            </div>
                <!-- === BEGIN FOOTER === -->
                <div id="content-bottom-border" class="container">
                </div>
                <div id="base">
                    <div class="container padding-vert-30 margin-top-60">
                        <div class="row">
                            <!-- Contact Details -->
                            <div class="col-md-4 margin-bottom-20">
                                <h3 class="margin-bottom-10">Thông tin</h3>
                                <p>
                                    <span class="fa-phone">Điện thoại:</span>(+84)986-735-313
                                    <br>
                                    <span class="fa-envelope">Email:</span>
                                    <a href="mailto:info@joomla51.com">linhanhxinh10@gmail.com</a>
                                    <br>
                                    <span class="fa-link">Website:</span>
                                    <a href="http://www.joomla51.com">www.traveltogether.com</a>
                                </p>
                                <p>
                                    36/26 D2
                                    <br>Phường 25,
                                    <br>Quận Bình Thạnh,
                                    <br>TP.Hồ Chí Minh
                                </p>
                            </div>
                            <!-- End Contact Details -->
                            <!-- Sample Menu -->
                            <div class="col-md-3 margin-bottom-20">
                                <h3 class="margin-bottom-10">Sample Menu</h3>                               
                                <img src="~/Images/cty/cty.jpg" style="width:100%;" />
                            </div>
                            <!-- End Sample Menu -->
                            <div class="col-md-1"></div>
                            <!-- Disclaimer -->
                            <div class="col-md-3 margin-bottom-20 padding-vert-30 text-center">
                                @*<h3 class="color-gray margin-bottom-10">Join our Newsletter</h3>*@
                                <h3 class="margin-bottom-10">Sample Menu</h3>
                                <ul class="menu">
                                    <li>
                                        <a class="fa-tasks" href="#">Placerat facer possim</a>
                                    </li>
                                    <li>
                                        <a class="fa-users" href="#">Quam nunc putamus</a>
                                    </li>
                                    <li>
                                        <a class="fa-signal" href="#">Velit esse molestie</a>
                                    </li>
                                    <li>
                                        <a class="fa-coffee" href="#">Nam liber tempor</a>
                                    </li>
                            </ul>
                            </div>
                            <!-- End Disclaimer -->
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- Footer Menu -->
                <div id="footer">
                    <div class="container">
                        <div class="row">
                            <div id="footermenu" class="col-md-8">
                                <ul class="list-unstyled list-inline">
                                    <li>
                                        <a href="#" target="_blank">Về chúng tôi</a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">Truy cập</a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">Quy định</a>
                                    </li>

                                </ul>
                            </div>
                            <div id="copyright" class="col-md-4">
                                <p class="pull-right">(c) 2017 Phát triển bởi nhóm 37</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Footer Menu -->
                <!-- JS -->

                <script src="~/Scripts/jquery-1.10.2.min.js"></script>
                <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
                <script type="text/javascript" src="~/assets/js/scripts.js"></script>
                <!-- Isotope - Portfolio Sorting -->
                <script type="text/javascript" src="~/assets/js/jquery.isotope.js"></script>
                <!-- Mobile Menu - Slicknav -->
                <script type="text/javascript" src="~/assets/js/jquery.slicknav.js" "></script>
                <!-- Animate on Scroll-->
                <script type="text/javascript" src="~/assets/js/jquery.visible.js" charset="utf-8"></script>
                <!-- Sticky Div -->
                <script type="text/javascript" src="~/assets/js/jquery.sticky.js" charset="utf-8"></script>
                <!-- Slimbox2-->
                <script type="text/javascript" src="~/assets/js/slimbox2.js" charset="utf-8"></script>
                <!-- Modernizr -->
                <script src="~/assets/js/modernizr.custom.js" type="text/javascript"></script>
                <!-- End JS -->

                <!--Tỉnh tới, huyện tới-->
            <script src="~/assets/client/js/controller/userController.js"></script>

        <script src="~/Scripts/jquery.validate.min.js"></script>
                @RenderSection("scripts", required: false)

            </div>
</body>
</html>
