@using TravelWeb.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>


 <!-- === BEGIN CONTENT === -->
<div id="content">
    <div class="container background-white">
        <div class="container">
            <div class="row margin-vert-30">
                <!-- Login Box -->
                <div class="col-md-6 col-md-offset-3 col-sm-offset-3">
                    <form class="login-page" action="/Account/Login" method="post" >
                        <div class="login-header margin-bottom-30">
                            <h2>Đăng nhập</h2>
                        </div>
                        <div class="input-group margin-bottom-20">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input placeholder="Nhập Email..." class="form-control" type="text" name="Email">
                        </div>
                        <div class="input-group margin-bottom-20">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>     
                            <input placeholder="Password" class="form-control" type="password" name="PassWord">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="checkbox">
                                    <input type="checkbox">Stay signed in
                                </label>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary pull-right" type="submit">Đăng nhập</button>
                            </div>
                        </div>
                        <hr>
                        <h4>Forget your Password ?</h4>
                        <p>
                            <a href="#">Click here</a>to reset your password.
                        </p>
                    </form>
                </div>
                <!--End Login Box -->  
            </div>
        </div>
    </div>
</div>
<!-- === END CONTENT === -->
<!-- === BEGIN FOOTER === -->
<div id="content-bottom-border" class="container">
</div>
<div id="base">
    <div class="container padding-vert-30 margin-top-60">
        <div class="row">
            <!-- Contact Details -->
            <div class="col-md-4 margin-bottom-20">
                <h3 class="margin-bottom-10">Contact Details</h3>
                <p>
                    <span class="fa-phone">Telephone:</span>(212)888-77-88
                    <br>
                    <span class="fa-envelope">Email:</span>
                    <a href="mailto:info@joomla51.com">info@joomla51.com</a>
                    <br>
                    <span class="fa-link">Website:</span>
                    <a href="http://www.joomla51.com">www.joomla51.com</a>
                </p>
                <p>
                    The Dunes, Top Road,
                    <br>Strandhill,
                    <br>Co. Sligo,
                    <br>Ireland
                </p>
            </div>
            <!-- End Contact Details -->
            <!-- Sample Menu -->
            <div class="col-md-3 margin-bottom-20">
                <h3 class="margin-bottom-10">Sample Menu</h3>
                <ul class="menu">
                    <li>
                        <a class="fa-tasks" href="#">Placerat facer possim</a>
                    </li>
                    <li>
                        <a class="fa-users" href="#">Quam nunc putamus</a>
                    </li>
                    <li>
                        <a class="fa-signal" href="#">Velit esse molestie</a>
                    </li>
                    <li>
                        <a class="fa-coffee" href="#">Nam liber tempor</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- End Sample Menu -->
            <div class="col-md-1"></div>
            <!-- Disclaimer -->
            <div class="col-md-3 margin-bottom-20 padding-vert-30 text-center">
                <h3 class="color-gray margin-bottom-10">Join our Newsletter</h3>
                <p>
                    Sign up for our newsletter for all the
                    <br>latest news and information
                </p>
                <input type="email">
                <br>
                <button class="btn btn-primary btn-lg margin-top-20" type="button">Subscribe</button>
            </div>
            <!-- End Disclaimer -->
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}