@model IEnumerable<TravelWeb.Models.NhaNghi>

@{
    ViewBag.Title = "Khách sạn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #pre-header {
        display: none;
    }

    #post_header {
        display: none;
    }
</style>
<h2>Danh sách bạn cần</h2>

<div class="container background-white">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNhaNghi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaPhong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh1)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh5)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNhaNghi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaPhong)
                </td>
                <td>
                    <img src="@Url.Content("~/Images/khachsan/"+item.Anh1)" />
                </td>
                <td>
                    <img src="@Url.Content("~/Images/khachsan/"+item.Anh2)" />
                </td>
                <td>
                    <img src="@Url.Content("~/Images/khachsan/"+item.Anh3)" />
                </td>
                <td>
                    <img src="@Url.Content("~/Images/khachsan/"+item.Anh4)" />
                </td>
                <td>
                    <img src="@Url.Content("~/Images/khachsan/"+item.Anh5)" />
                </td>
            </tr>
        }
    </table>
</div>