@using TravelWeb.Models;
@model List<Tour>

@{
    ViewBag.Title = "Xem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #pre-header {
        display: none;
    }

    #post_header {
        display: none;
    }
</style>

<!-- === BEGIN CONTENT === -->
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h3>Xem danh sách Tour</h3>
                @ViewBag.ThongBao
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-md-6 animate fadeIn">
                            <img src="@Url.Content("~/Images/diadanh/"+item.Anh)" alt="about-me" class="margin-top-10">
                            <ul class="list-inline about-me-icons margin-vert-20">
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 margin-bottom-10 animate fadeInRight">
                            
                            <h3 class="padding-top-10 pull-left">
                                Điểm xuất phát: @item.HuyenDi - @item.TinhDi<br />
                                Địa điểm tới: @item.HuyenToi - @item.TinhToi

                            </h3>
                            <div class="clearfix"></div>
                            <h4>
                                <em>Ngày xuất phát: @item.ThoiGianDi</em> <br />
                                <em>Thời gian dự kiến: @item.NgayDiDuKien ngày</em><br />
                                <em>Số thành viên tối đa: @item.SoNguoi</em><br />
                                <em>Thành viên đã có:@item.SoNguoiDaCo</em><br />
                                <em>Phương tiện đi: @item.PhuongTien</em>
                            </h4>
                            <form action="@Url.Action("ThamGia","Tours")" method="post">
                                <input type="number" name="SoNguoi" placeholder="Nhập số người đi cùng bạn..." style="width:190px;"/>
                                <input name="MaTour" value="@item.MaTour" hidden />
                                <button type="submit">Tham gia</button>
                            </form>

                            
                        </div>
                    </div>
                    <hr>
                }
                
            </div>
        </div>
    </div>
</div>
<!-- === END CONTENT === -->

